astroid==3.3.11
bandit==1.8.6
bitarray==3.6.0
contourpy==1.3.3
cycler==0.12.1
dill==0.4.0
dodgy==0.2.1
flake8==7.3.0
flake8-polyfill==1.0.2
fonttools==4.59.0
gitdb==4.0.12
GitPython==3.1.45
iniconfig==2.1.0
isort==6.0.1
kiwisolver==1.4.9
macaddress==2.0.2
markdown-it-py==3.0.0
matplotlib==3.10.5
mccabe==0.7.0
mdurl==0.1.2
mininet==2.3.0.dev6
mypy==1.17.1
mypy_extensions==1.1.0
networkx==3.5
numpy==2.3.2
packaging==25.0
pathspec==0.12.1
pbr==6.1.1
pep8-naming==0.10.0
pillow==11.3.0
platformdirs==4.3.8
pluggy==1.6.0
prospector==1.17.2
pycodestyle==2.14.0
pydocstyle==6.3.0
pyflakes==3.4.0
Pygments==2.19.2
pylint==3.3.8
pylint-celery==0.3
pylint-django==2.6.1
pylint-plugin-utils==0.9.0
pyparsing==3.2.3
pytest==8.4.1
python-dateutil==2.9.0.post0
PyYAML==6.0.2
requirements-detector==1.4.0
rich==14.1.0
semver==3.0.4
setoptconf-tmp==0.3.1
setuptools==80.9.0
six==1.17.0
smmap==5.0.2
snowballstemmer==3.0.1
stevedore==5.4.1
toml==0.10.2
tomlkit==0.13.3
types-networkx==3.5.0.20250809
types-PyYAML==6.0.12.20250809
types-requests==2.32.4.20250809
typing_extensions==4.14.1
urllib3==2.5.0
