astroid==3.3.8
bandit==1.8.2
bitarray==2.9.2
contourpy==1.3.0
cycler==0.12.1
dill==0.3.9
dodgy==0.2.1
flake8==7.2.0
flake8-polyfill==1.0.2
fonttools==4.53.1
gitdb==4.0.12
GitPython==3.1.44
iniconfig==2.1.0
isort==6.0.0
kiwisolver==1.4.7
markdown-it-py==3.0.0
matplotlib==3.9.2
mccabe==0.7.0
mdurl==0.1.2
mypy==1.15.0
mypy-extensions==1.0.0
networkx==3.3
numpy==2.1.1
packaging==24.1
pbr==6.1.1
pep8-naming==0.10.0
pillow==10.4.0
platformdirs==4.3.6
pluggy==1.5.0
prospector==1.16.1
pycodestyle==2.13.0
pydocstyle==6.3.0
pyflakes==3.3.2
Pygments==2.19.1
pylint==3.3.4
pylint-celery==0.3
pylint-django==2.6.1
pylint-plugin-utils==0.8.2
pyparsing==3.1.4
pytest==8.3.5
python-dateutil==2.9.0.post0
PyYAML==6.0.2
requirements-detector==1.3.2
rich==13.9.4
semver==3.0.4
setoptconf-tmp==0.3.1
setuptools==75.8.0
six==1.16.0
smmap==5.0.2
snowballstemmer==2.2.0
stevedore==5.4.0
toml==0.10.2
tomlkit==0.13.2
types-networkx==3.4.2.20241227
types-PyYAML==6.0.12.20241230
typing_extensions==4.12.2
